/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0

Author Name:Nurul Komor
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Body
2. Header-top
2. Navbar
-------------------------------------------------------------------*/
/*
==========================================
    Reset Css
==========================================
*/
@font-face {
    font-family: 'Helvetica-regular';
    src: url('../fonts/Helvetica.ttf');
}
@font-face {
    font-family: 'Helvetica-bold';
    src: url('../fonts/Helvetica-Bold.ttf');
}
:root {
    --primary: #F8D604;
    --secondary: #FFFFFF;
    --dark: #333E48;
    --body: #333E48;
    --box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    --white: #f5f3f3;
}

html,
body {
    font-family: 'Helvetica-regular';
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

body {
    font-family: 'Helvetica-regular';
    color: var(--body);
    font-size: 14px;
    line-height: 1.8;
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100vh;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    color: var(--dark);
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--white);
}



/* ------------------------------------------------
    ***hero -section Top  Css Start***
------------------------------------------------- */
.hero-section{
    min-height: 100vh;
}
/* ------------------------------------------------
    ***hero -section  Css ends***
------------------------------------------------- */
/* ------------------------------------------------
    ***secondary nav links  Css Start***
------------------------------------------------- */

.drop-downlinks{
    border:none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border-top: 5px solid var(--primary);
   position: relative;
   cursor: pointer;
}
.secondary-nav-items .drop-downlinks{
     border-top: 5px solid var(--primary);
}
.secondary-nav-items .drop-downlinks li.heading:first-child{
    background-color: var(--primary);
    padding-top: 8px;
    padding-bottom: 8px;
}
.secondary-nav-items .drop-downlinks li.heading:first-child::after{
    display: none;
}
.drop-downlinks.dropdown-menu, .drop-downlinks ul {
    position: absolute;
    font-size: .875rem;
}

.drop-downlinks  a.dropdown-toggle::after{
    display: none;
}

.drop-downlinks  li {
    padding: 0 14px;
}
.drop-downlinks  li a{
    position: relative;
    transition: 0.5s;
    padding: 7.5px 5px;
}
.drop-downlinks  li::after{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #b2bec3;
    height: 0.7px;
    width: 80%;
    left: 10%;
    opacity: 0.7;
}
.drop-downlinks  li > a {
    display: flex;
    justify-content: space-between;
    
}

.drop-downlinks  li > a svg{
    padding-left: 5px;
}
.drop-downlinks   ul.dropdown-menu{
    position: absolute;
    top: 30%;
    left: 102%;
    transition: 0.5s;
    border: none;
    border-top: 5px solid var(--primary);
    width: 100%;
}
.drop-downlinks li:hover  > ul.dropdown-menu{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 1s;
}
.drop-downlinks   ul.dropdown-menu >li ul.dropdown-menu{
    top: 50%;
}

/* ------------------------------------------------
    ***secondary nav links  Css Start***
------------------------------------------------- */
